[Unit]
Description=My basic 2 service
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=su
WorkingDirectory=/home/pi/Desktop/automate
EnvironmentFile=/bin/bash
ExecStart=/home/pi/Desktop/automate/ip_find.sh
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
